{% extends 'layout.html'%}

{%block content%} 
    <h1> Create Note  </h1>

    {% if coche %}
        <h1> Edit {{coche.1}} {{coche.2}} </h1>
    {% else %}
        <h1> Here we create a note! </h1>
    {% endif %}
        <br>
    <form action="" method = "POST">
        <label for = 'titulo'> Tittle <label>
        <input type="text" name="titulo"  />
        <label for = 'contenido'> Content <label>
        <textarea name="contenido" id ="textos">  </textarea>
        <input type="submit" value="Save"/>

    </form>
{%endblock%}